*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background: 	rgb(255, 128, 0);
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
}
.back-banner{
    background-image: url( /images/top-banner.png);
    background-repeat: no-repeat;
}
h3.margin {
    margin-top: 45px;
    margin-bottom: 25px;
}
.half-width p {
    width: 60%;
    margin-bottom: 30px;
}
h1.header-margin {
    margin-bottom: 30px;
}
.d-half{
    width: 50%;
    padding-right: 8%;
}
.d-half img{
    width: 80%;
}
.d-half h1{
    margin-bottom: 25px;
    font-weight: 500;
}
.d-half h3{
    margin-bottom: 30px;
    font-family: 500;
}
.d-half p{
    margin-bottom: 25px;
    font-family: 500;
    color: rgb(87, 85, 85);
}
.d-half a{
    padding: 10px 40px;
    background-color: tomato;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}
.download{
    display: flex;
    padding-top: 50px;
}
.kathal{
    display: flex;
}
.jam{
    width: 90%;
}
.am img{
    width: 110%;
    height: 40%;
    margin-top: 120px;
}
.we{
    width: 90%;
}
/* experoence section */
.experience-area{
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 60px 20px 80px 40px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 60%);
    border-radius: 3px;
}
h2{
    font-size: 35px;
    font-weight: 500;
}
h3{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
p{
    font-size: 17px;
    font-weight: 400;
    color: rgb(39, 39, 38);
    margin-top: 30px;
}
#full-stack{
background-image: linear-gradient(orange tomato);
border-left: 5px solid;
border-image-slice: 1;
}
#baby-stack{
   background-image: linear-gradient(blue cyan);
   border-left: 5px solid;
   border-image-slice: 1;
}
#title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}
footer p {
    text-align: center;
}